Using this file to load Bowling Figures.

In [37]:
import os
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.multioutput import MultiOutputRegressor
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error,r2_score
# make a prediction with a stacking ensemble
from sklearn.datasets import make_classification
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

In [38]:
data=pd.read_csv("../archive/all_season_bowling_card.csv")

In [39]:
data.drop(data[data['season'] <=2016].index, inplace = True)

In [40]:
data.head()

,season,match_id,match_name,home_team,away_team,bowling_team,venue,city,country,innings_id,...,conceded,wickets,economyRate,dots,foursConceded,sixesConceded,wides,noballs,captain,href
0,2021,1254117,CSK v KKR,CSK,KKR,KKR,Dubai International Cricket Stadium,Dubai,United Arab Emirates,1,...,33,0,11.0,6,2,3,0,0,False,https://www.espncricinfo.com/ci/content/player...
1,2021,1254117,CSK v KKR,CSK,KKR,KKR,Dubai International Cricket Stadium,Dubai,United Arab Emirates,1,...,32,1,8.0,8,1,2,0,0,False,https://www.espncricinfo.com/ci/content/player...
2,2021,1254117,CSK v KKR,CSK,KKR,KKR,Dubai International Cricket Stadium,Dubai,United Arab Emirates,1,...,56,0,14.0,4,7,2,2,0,False,https://www.espncricinfo.com/ci/content/player...
3,2021,1254117,CSK v KKR,CSK,KKR,KKR,Dubai International Cricket Stadium,Dubai,United Arab Emirates,1,...,38,0,9.5,5,2,2,0,1,False,https://www.espncricinfo.com/ci/content/player...
4,2021,1254117,CSK v KKR,CSK,KKR,KKR,Dubai International Cricket Stadium,Dubai,United Arab Emirates,1,...,26,2,6.5,6,0,1,1,0,False,https://www.espncricinfo.com/ci/content/player...

In [41]:
data.columns

Index(['season', 'match_id', 'match_name', 'home_team', 'away_team',
       'bowling_team', 'venue', 'city', 'country', 'innings_id', 'name',
       'fullName', 'overs', 'maidens', 'conceded', 'wickets', 'economyRate',
       'dots', 'foursConceded', 'sixesConceded', 'wides', 'noballs', 'captain',
       'href'],
      dtype='object')

In [42]:
data=data.drop(["match_id","match_name","home_team","away_team","bowling_team","venue","city","country"
    ,"innings_id","name","foursConceded","economyRate","sixesConceded","wides","noballs","captain","href"],axis=1)

In [43]:
data.head()

   season            fullName  overs  maidens  conceded  wickets  dots
0    2021     Shakib Al Hasan    3.0        0        33        0     6
1    2021         Shivam Mavi    4.0        0        32        1     8
2    2021     Lockie Ferguson    4.0        0        56        0     4
3    2021  Varun Chakravarthy    4.0        0        38        0     5
4    2021        Sunil Narine    4.0        0        26        2     6

In [45]:
names=data['fullName'].unique()

over=[]
maidens=[]
runs=[]
wickets=[]
dots=[]

for i in range(len(names)):
    temp1=0
    temp2=0
    temp3=0
    temp4=0
    temp5=0
    for ri,rd in data.iterrows():
        if((rd['fullName']==names[i]) and (rd['season']==2021)):
            temp1+=rd['overs']
            temp2+=rd['maidens']
            temp3+=rd['conceded']
            temp4+=rd['wickets']
            temp5+=rd['dots']
    
    over.append(temp1)
    maidens.append(temp2)
    runs.append(temp3)
    wickets.append(temp4)
    dots.append(temp5)

d={"Name":names,"Over":over,"Maidens":maidens, "Runs_Conceded":runs,"Wickets":wickets,"Dots":dots}
data2021=pd.DataFrame(d)
data2021

                   Name  Over  Maidens  Runs_Conceded  Wickets  Dots
0       Shakib Al Hasan  26.0        0            187        4    50
1           Shivam Mavi  32.1        0            233       11    91
2       Lockie Ferguson  30.0        0            224       13    76
3    Varun Chakravarthy  68.0        0            448       18   149
4          Sunil Narine  56.0        0            361       16   131
..                  ...   ...      ...            ...      ...   ...
209      Rahul Tripathi   0.0        0              0        0     0
210          Ankit Soni   0.0        0              0        0     0
211        Irfan Pathan   0.0        0              0        0     0
212      Marlon Samuels   0.0        0              0        0     0
213          Matt Henry   0.0        0              0        0     0

[214 rows x 6 columns]

In [46]:
data2021.to_csv("bowling2021.csv")